.banner {
  background: url(../public/images/Image.png);
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0 5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.banner > p {
  font-weight: bold;
}

.banner > h1 {
  font-size: 3rem;
  width: 500px;
}
.banner_button {
  margin: 2.5rem 0;
}

.banner_bottom_text {
  display: flex;
  width: 350px;
  font-size: 15px;
}

/* Church  */

.church_relevant_content {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 5rem;
}

.church_relevant_content .content_box {
  padding: 0 3rem;
}

.compassion_text {
  width: 75%;
  text-align: center;
  margin: auto;
  padding: 2rem 0;
}

.compassion_text p {
  line-height: 1.75rem;
}

.compassion_img {
  display: flex;
  justify-content: center;
}

.compassion_img_content_child {
  padding: 0 10px !important;
}

.compassion_img_content:nth-child(1),
.compassion_img_content:nth-child(3) {
  margin-top: 4rem;
}
.compassion_img_content:nth-child(2) button {
  margin-bottom: 2rem;
}

.compassion_img_content:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding-bottom: 2rem;
}

.compassion_img_content:nth-child(2) .compassion_img_content_child {
  border-radius: 20px !important;
}
